{% extends "base.html" %}

{# 1. 在 <head> 中引入 FB SDK #}
{% block extrahead %}
  {{ super() }}
  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous"
    src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v22.0&appId=3136073306559284">
  </script>
{% endblock %}

{# 2. 在页面内容之后插入评论区容器 #}
{% block content %}
  {{ super() }}

  <footer>
    <small>最後更新：{{ git_revision_date }}</small>
  </footer>

  <!-- Facebook Comments 插件开始 -->
  <div class="fb-comments"
       data-href="https://gn01167661.github.io/DigitalGarden/"
       data-width=""
       data-numposts="5">
  </div>
  <!-- Facebook Comments 插件结束 -->
{% endblock %}
